body{
    background-color: rgb(95, 100, 95); 
}

.box{
    text-align:center;
}
.img{
    position: relative;
    color: rgba(93,93,255);
    padding: 0px 0px -20px -20px
     
}
a{
    border-bottom: 1px solid black;
    padding: 0px 0px -20px -20px

}
.box-part1{
    background-color: rgb(243, 38, 216);
    margin: 20px 0px ;
    padding: 60px 10px;
   
}

.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}
/* box 2 */


.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part2{
    background-color: rgb(224, 15, 15);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}

/* box3 */


.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part3{
    background-color: rgb(34, 241, 15);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}

/* box4 */


.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part4{
    background-color: rgb(40, 182, 207);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}

/* box5 */

.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part5{
    background-color: rgba(233, 229, 20, 0.418);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}

/* box6 */

.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part6{
    background-color: rgb(27, 23, 255);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}

/* box7 */

.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part7{
    background-color: rgba(235, 13, 13, 0.63);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}

/* box8 */

.fa{
    color: rgba(93,93,255);
}
a{
    border-bottom: 1px solid black;
}
.box-part8{
    background-color: rgba(160, 42, 150, 0.705);
    margin: 20px 0px ;
    padding: 60px 10px;

}
.text{
    margin:20px 0px;

}
.box{
    padding: 60px 0px;
}


        body {
          font-family: Arial;
        }
        
        * {
          box-sizing: border-box;
        }
        
        form.example input[type=text] {
          padding: 10px;
          font-size: 17px;
          border: 1px solid grey;
          float: center;
          width: 30%;
          background: #f1f1f1;
        }
        
        form.example button {
          float: center;
          width: 10%;
          
          padding: 10px;
          background: #2196F3;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: 10%;
          cursor: pointer;
        }
        
        form.example button:hover {
          background: #0b7dda;
        }
        
        form.example::after {
          content: "";
          clear: both;
          display: table;
        }


        .box{

            background-color:rgb(228, 114, 216);
            padding:60px 80px 100px 100px;
            margin:200px 200px 200px 200px;
            font-style:normal;
            font-weight: 400;
        }